

.clearAll{
    padding-left: 15px;
    cursor: pointer 
}
.yourJob {
    color: #1d2330;
    font-size: 36px;
    font-family: Roboto;
    margin-top: 40px;
}
.spanDisplay {
    align-self: center;
    margin-right: 16px;
    font-weight: bold;
}
@media only screen and (max-width: 600px) {
 .clearAll{
    padding-left: 0px;
    color: #8798ad;
}
.yourJob {
    font-size: 25px;
    margin-top:10px
}
.spanDisplayCont {
    justify-content : unset !important;
    margin-top:40px !important;
}
.spanDisplay {
  margin-bottom: 10px !important;
}
}